header {
	background-color: red
}

p{
	color: red;
}

#botonindex{
	color:white;
	text-decoration: none;
	background-color: #CE0909;
	color:black;
}

#row3{
	text-align: center;
	background-color: black;
}

#cuadro1 {
	background-color: black
}


#cuadro1{
	background-color: black;
}
#cuadroa1:hover{
	background-color: #FFFC83;
}

#cuadroa1{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}



#cuadro2{
	background-color: black;
	}

#cuadroa2:hover{
	background-color: #FFFC83;
}

#cuadroa2{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}



#cuadro3{
	background-color: black;
	}

#cuadroa3:hover{
	background-color: #FFFC83;
}

#cuadroa3{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}


#cuadro4{
	background-color: black;
	}

#cuadroa4:hover{
	background-color: red;
}

#cuadroa4{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}
#cuadro5{
	background-color: black;
	}

#cuadroa5:hover{
	background-color: #FFFC83;
}

#cuadroa5{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}
#cuadro6{
	background-color: black;
}

#cuadroa6:hover{
	background-color: #FFFC83;
}

#cuadroa6{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}

#cuadro7{
	background-color: black;
}

#cuadroa7:hover{
	background-color: #FFFC83;
}

#cuadroa7{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}
#cuadro8{
	background-color: black;
}


#cuadroa8:hover{
	background-color: #FFFC83;
}

#cuadroa8{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}


#cuadro9{
	background-color: black;
}

#cuadroa9:hover{
	background-color: #FFFC83;
}

#cuadroa9{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}


#cuadro10{
	background-color: black;
}

#cuadroa10{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}

#cuadroa10:hover{
	background-color: #FFFC83;
}

#cuadroa10{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}

#cuadro11{
	background-color: black;
}

#cuadroa11:hover{
	background-color: #FFFC83;
}

#cuadroa11{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}


#cuadro12{
	background-color: black;
}

#cuadroa12:hover{
	background-color: #FFFC83;
}

#cuadroa12{
	background-color: yellow;
	position: relative;
	left: -14px;
	width: 77px;
	height: 92px;
	margin: 4px;
}


footer{
	background-color: green;
}


#butonindex { 
background-color: yellow;
 }

